In [5]:
'''
Question 1
Ask the user for two numbers between 1 and 100. Then count from the
lower number to the higher number. Print the results to the screen.
'''
num_1 = int(input("Give me the first number :>>>>> "))
num_2 = int(input("Gibe me the seconde one  :>>>>> "))

first = min(num_1, num_2)
last = max(num_1, num_2)

for num in range(first, last + 1):
    print(num, end=" ")

5 6

In [6]:
'''
Question 2
Ask the user to input a string and then print it out to the screen in
reverse order (use a for loop).
'''
string = input("Give me a string to print out in the reverse order : >>>>> ")
print("string =",string)

lenght = len(string)
print ("lenght =",lenght)

print("the string in the reverse order ")
for i in range(1, lenght + 1):
    print(string[-i], end=" ")

string = 2
lenght = 1
the string in the reverse order
2

In [7]:
'''
Question 3
Ask the user for a number between 1 and 12 and then display a times
table for that number.
'''

number = int(input("Give me a number between 1 and 12: >>>> "))
if number <= 12 and number >= 1:
    for i in range(1, 11):
        print (number , "x", i, "=", number * i)
        
else:
    print('Not the right number ')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [8]:
"""
Question 4
Can you amend the solution to question 3 so that it just prints out all
times tables between 1 and 12? (no  need to ask user for input)
"""

for i in range(1,13):
    for j in range (1,13):
        print(i, "x", j , "=", i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [9]:
"""
Question 5
Ask the user to input a sequence of numbers. Then calculate the mean
and print the result
"""

num_sum =0
for i in range (1,6):
    print("The", i, "of", 5)
    num = int(input("Give me a number: >>>>> "))
    num_sum += num
print("The result")
print("Sum", num_sum)
print("Mean", num_sum / 5)

The 1 of 5
The 2 of 5
The 3 of 5
The 4 of 5
The 5 of 5
The result
Sum 25
Mean 5.0

In [10]:
'''
Question 6
Write code that will calculate 15 factorial. (factorial is product of
positive ints up to a given number. e.g 5 factorial is 5x4x3x2x1)
'''
num = int(input("Give me a number to calculate his factorial : "))
print ("The factorail of the given number is:")
factorial = 1
while num > 0:
    factorial = factorial * num
    num -= 1
print(factorial)

The factorail of the given number is:
362880

In [11]:
'''
Question 7
Write code to calculate Fibonacci numbers. Create list containing
first 20 Fibonacci numbers, (Fib  numbers made by sum of preceeding
two. Series starts 0 1 1 2 3 5 8 13 ....)
'''
fib_list = [0,1]
lenght = 20
for i in range(1,9999):
    if len(fib_list) <= lenght:
        fib_list.append(fib_list[i] + fib_list[i-1])
    else:
        break
    #print(len(fib_list))
print("The fisrt",lenght, "Fibonacci numbers :" ,fib_list)

The fisrt 20 Fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [12]:
'''
Question 8
The previous question was the first to contain comments. Go back
through the other questions in this file and add comments to the
solutions.
'''

'\nQuestion 8\nThe previous question was the first to contain comments. Go back\nthrough the other questions in this file and add comments to the\nsolutions.\n'

In [32]:
'''
Question 9

     *****
     *
     ****
     *
     *
     *
Can you draw this using python? (comment the solution code)
'''

for i in range(1,7):
    for j in range(1,6):
        if i ==1 and j < 5:
            print("*", end=" ")
        elif i == 2 and j < 3:
            print("*")
        elif i==3 and j < 4:
            print('*', end=" ")
        elif i > 4 and j < 3:
            print("*")

* * * * *
*
* * * *
*
*
*

In [38]:
'''
Question 10
Write some code that will determine all odd and even numbers
between 1 and 100. Put the odds in a list named odd and the evens
in a list named even.
'''

odd = []
even = []

for i in range (1,101):
    if i % 2 == 0 :
        odd.append(i)
    else:
        even.append(i)
print(odd)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]